WebContent/WEB-INF/wsdl/product.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://codejava.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://codejava.net/" name="ProductService">
<types>
<xsd:schema>
<xsd:import namespace="http://codejava.net/" schemaLocation="http://localhost:8080/SoapTest/ws/product?xsd=1"/>
</xsd:schema>
</types>
<message name="sell">
<part name="parameters" element="tns:sell"/>
</message>
<message name="sellResponse">
<part name="parameters" element="tns:sellResponse"/>
</message>
<message name="getPrice">
<part name="parameters" element="tns:getPrice"/>
</message>
<message name="getPriceResponse">
<part name="parameters" element="tns:getPriceResponse"/>
</message>
<message name="getName">
<part name="parameters" element="tns:getName"/>
</message>
<message name="getNameResponse">
<part name="parameters" element="tns:getNameResponse"/>
</message>
<portType name="Product">
<operation name="sell">
<input wsam:Action="http://codejava.net/Product/sellRequest" message="tns:sell"/>
<output wsam:Action="http://codejava.net/Product/sellResponse" message="tns:sellResponse"/>
</operation>
<operation name="getPrice">
<input wsam:Action="http://codejava.net/Product/getPriceRequest" message="tns:getPrice"/>
<output wsam:Action="http://codejava.net/Product/getPriceResponse" message="tns:getPriceResponse"/>
</operation>
<operation name="getName">
<input wsam:Action="http://codejava.net/Product/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://codejava.net/Product/getNameResponse" message="tns:getNameResponse"/>
</operation>
</portType>
<binding name="ProductPortBinding" type="tns:Product">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductService">
<port name="ProductPort" binding="tns:ProductPortBinding">
<soap:address location="http://localhost:8080/SoapTest/ws/product"/>
</port>
</service>
</definitions>